

body {
	margin: 0;
	font-family: 'ArcoPerpetuoRegular'; 
	font-weight: normal; 
	font-style: normal; 
	font-size: 0.95em;
	color: #212126;
}

h2 {
	font-size:1.6em; 
	font-family: 'ArcoPerpetuoBold';
	font-weight: bold; 
	letter-spacing: 1px;
	color: #3E3E40;
	margin-top:10px;
	/*margin-bottom: 3px;*/
	text-align: center;
}

h3 {
	font-size: 1.05em;
	font-family: 'ArcoPerpetuoRegular';
	font-weight: bold; 
	color: #636366;
	margin-bottom: 3px;
	text-align: left;
}

#page-wrap {
	background: #fff;
	display: table;
	margin: 0;
	/*min-width: 780px;
	max-width: 100%;
	/*margin: 10px auto;*/
}

/*#header {
	height:80px;
	background: #fff;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 2px solid #adadad;
	text-align: center
}*/

#logo {
	background: #fff;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 2px solid #adadad;
	text-align: center;
}

#main-content {
	display: table-cell;
	height:100vh;
	width:100vh;
	min-height: 650px;
	min-width: 650px;
<<<<<<< Updated upstream
=======
	/*transition: height 0.3s ease-in-out, width 0.3s ease-in-out;
	width: 100%;
	min-width: 750px;*/
	/*padding-left: 400px;
	min-width: 750px;
	max-width: 100%;*/
	/*height: 750px;*/
>>>>>>> Stashed changes
}
/*
#main-content:hover {
	width: 100%;
	min-width: 750px;
}
*/

/*#map {
	max-height:inherit;
	max-width:inherit;	
	min-height: 650px;
	min-width: 650px;
}*/

#left-sidebar-inner {
	width: 360px;
	margin-left: 20px;
	margin-right: 20px;
}

#left-sidebar {
	display: table-cell;
	width: 400px;
	vertical-align: top;
	background: #eeeeee;
	border-right: 2px solid #adadad;
	/*float: left;
	height: 750px;*/
}

#filter {
	margin-bottom: 15px;
	vertical-align: middle;
}

.ui-slider {
	width: 275px;
	float: left;
	margin-left: 15px;
}

.slider-text {
	padding-left: 300px;
}

.sliderValue {
	width: 30px; 
	text-align: center;
	font-size: 0.9em;
	height: 13px;
	color: #212126;
}

select {
	width: 350px;
}

#todRange {
	margin-top: 0;
	margin-left: 15px
}

input.time {
	width: 100px;
	height: 20px;
	font-size: 0.95em;
	color: #212126;
}

input {
	-webkit-border-radius: 3px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 3px;
	border: 1px solid #aaa;
	font-family: 'ArcoPerpetuoRegular';
	color: #212126;
	font-size: 0.9em;
	vertical-align: middle;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #212126;
}
::-moz-placeholder { /* Firefox 19+ */
	color: #212126;
}
:-ms-input-placeholder { /* IE 10+ */
	color: #212126;
}
:-moz-placeholder { /* Firefox 18- */
	color: #212126;
}

button.reset {
	display:block;
	position: relative;
	margin:0 auto;
	-webkit-border-radius: 3px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 5px;
	border: 1px solid #636366;
	background-color: #d4d4d4;
	width: 360px;
	text-align: center;
	font-family: 'ArcoPerpetuoRegular';
	font-size: 1.2em;
	letter-spacing: 2px;
	color: #3E3E40;
}

#spacer {
	height: 20px;
}

#radius-label {
	float: left;
}

.circle {
	display: inline-block;
	vertical-align: bottom;
	width: 1.05em;
	height: 1.05em;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
}

#circleA {
	background: #3399FF;
}

#circleB {
	background: #FF6600;
}

.mark {
	z-index: 1;
}

.point.A {
	fill: #3399FF;
}

.point.B {
	fill: #FF6600;
}

#info {
	position: absolute;			
	text-align: center;
	width: 200px;					
	/*height: 65px;*/
	padding: 2px;				
	font-size: 0.9em;
	color: #212126;
	background: #B0C4DE;
	opacity: 0.9;	
	border: 0px;		
	border-radius: 8px;			
	pointer-events: none;	
}

.outline {
	opacity: 0.1;
	color: #eeeeee;
}

